@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

* {
    font-family: 'Open Sans',serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

.container {
    padding: 30px;
    padding-bottom: 2.5rem;
}

.top-banner {
    display: flex;
}

.topnav {
    overflow: hidden;
    background-color: white;
    margin: auto;
}

.topnav a{
    display: block;
    float: left;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.topnav a:hover:not(.active) {
    color: rgb(63, 128, 63);
  }

.topnav .icon {
    display: none;
}

.active {
    color: cornflowerblue !important;
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.title {
    margin-top: 30px;
}

.front-page {
    display: flex;
    width: 80%;
}

.image {
    flex-grow: 1;
}

.bio {
    padding-left: 30px;
    flex-grow: 8;
}

.footer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom: 0;
    height: 6rem;
    width: 100%;
}

.footer-contact {
    width: 60%;
    padding-left: 3rem;
}

.footer-creator {
    padding-top: 2rem;
}

.endorsement-container > h2 {
    font-weight: bold;
}

.endorsements {
    display: flex;
    flex-wrap: wrap;
}

.endorsements > h4 {
    width: 10rem;
}

.logo {
    width: 12rem;
}